.input_block {
  width: 13%;
  height: 3.2vh;
  padding: 0.3% 0.8%;
  border: 1px solid #999999;
  display: flex;
  border-radius: 12px;
}

.calendar_input {
  border: none;
  width: 90%;
  color: #999999;
  font-size: large;
  font-weight: bold;
}

.calendar_btn_block {
  height: auto;
}

.calendar_btn {
  width: 2rem;
  height: 2rem;
  padding: 0px;
}

.calendar_btn_img {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.calendar_close_block {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3%;
}

.calendar_close_btn {
  border: 1px solid #999999;
  background-color: #999999;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}
