.calendar_block {
  width: 100%;
  height: 30%;
}

.calendar_block_inner {
  display: flex;
}

/* .calendar_container {
  width: 100%;
  height: auto;
  display: grid;
} */

.calendar_main_block {
  width: 100%;
  height: 320px;
}

.calendar_month_block {
  margin: 2% auto;
  display: flex;
  justify-content: center;
  /* width: fit-content; */
}

.calendar_month_block_now {
  width: auto;
  align-content: center;
}

.calendar_month_block_inner_right {
  padding-right: 5%;
}

.calendar_month_block_inner_left {
  padding-left: 5%;
}

.calendar_month_arrow_btn {
  width: 30%;
  height: 25%;
}

.calendar_day_block {
  margin: 0 auto 5%;
  width: fit-content;
}

.calendar_day_week {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.calendar_day_inner {
  display: flex;
  width: 15%;
  justify-content: space-evenly;
}

.calendar_day_btn {
  width: 3.5rem;
}

/* .calendar_day_point_left {
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
}
.calendar_day_point_right {
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
} */

.calendar_day_point {
  background-color: #f15b8c;
  color: #ffffff;
}

.calendar_day_range {
  background-color: #f59e5b;
}

.calendar_time_container {
  display: grid;
  width: 190px;
  height: 320px;
  grid-template-rows: 0.18fr auto; /* 첫 번째 행은 100px, 두 번째 행은 남은 공간 */
  gap: 10px; /* 블록 사이의 간격 */
}

.calendar_time_title_block {
  margin: 10% auto;
}

.calendar_time_title_text {
  height: 100%;
  align-content: center;
}

.calendar_time_container_inner {
  display: flex;
  justify-content: space-between;
}

.time_block {
  width: 25%;
  height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--ant-color-text-tertiary) transparent;
}

.time_cell {
  margin-bottom: 5px;
  padding-left: 8px;
  padding-top: 0px;
}
